<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include meta.liquid %}
    <title>{{ title }} - Aidan Jones</title>
  </head>
  <body class="projects min-width">
    {% include header.liquid %}
    <h1>{{ title }}</h1>
    {% assign slug == {{ title | strip | slug }} %}
    <ul>
      {%- for item in collections[slug] reversed -%}
        <li>
          <a href="{{ item.url }}">
            <img src="{{ item.data.image }}" alt="">
            <h2>{{ item.data.title }}</h2>
            <hr>
            <p>{{ item.data.description }}</p>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </body>
</html>
