<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include meta.liquid %}
    <title>{{ title }} - Aidan Jones</title>
  </head>
  <body class="projects min-width">
    {% include header.liquid %}
    <h1>{{ title }}</h1>
    {% assign slug == {{ title | strip | slug }} %}
    <ul>
      {%- for item in collections[slug] reversed -%}
        {%- assign url         = item.data.external_url -%}
        {%- assign is_external = true -%}

        {%- if url == blank -%}
          {%- assign url         = item.url -%}
          {%- assign is_external = false    -%}
        {%- endif -%}
        <li>
          <a href="{{ url }}" {%- if is_external -%}target="_blank"{%- endif -%}>
            <img src="{{ item.data.image }}" alt="{{ item.data.alt}}" loading="lazy">
            <h2>{{ item.data.title }}</h2>
            <hr>
            <p>{{ item.data.description }}</p>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </body>
</html>
